<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

        <context:component-scan base-package="com.lesson.annotation"/>

<!--        <bean id="store" class="com.lesson.annotation.EpicGames">-->
<!--&lt;!&ndash;                <constructor-arg ref="sport"/>&ndash;&gt;-->
<!--                <property name="games" ref="sport"/>-->
<!--        </bean>-->

<!--        <bean id="sport" class="com.lesson.annotation.SportGame">-->

<!--        </bean>-->

</beans>