<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/lesson_1_1_style/style.css}" />
</head>
<body>
<section id="box">
  <div class="poster">
    <img
            src="https://upload.wikimedia.org/wikipedia/ru/b/b4/Harry_Potter_and_the_Philosopher%27s_Stone_%E2%80%94_movie.jpg"
            alt=""
    />

    <div class="overlay">
      <p>Harry Potter</p>
    </div>
  </div>
</section>
</body>
</html>
